.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.display {
    text-align: right;
    outline: none;
    padding-right: 10px;
    height: 50px;
    font-size: 35px;
}

.button {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    flex-wrap: wrap;
}