.topnav {
    overflow: hidden;
    display: flex;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #04AA6D;
    color: black;
}

/* Add a color to the active/current link */
.topnav .active {
    background-color: #04AA6D;
    color: white;
}